@import "../css/reset.css";
@import "../css/jquery.arcticmodal-0.3.css";
@import "../css/jquery.fancybox.css";
@import "../css/owl.carousel.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size:20px;
  line-height:1.5;
  color:#191919;
  min-width: 1000px;
  background:url(../images/body_bg.jpg) 0 0 repeat #fff;
}
.container{
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
}
.container_inner{padding: 35px 34px 40px;}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> fonts <------------------*/
.scada{font-family: 'Scada', sans-serif;}

.fw600{font-weight: 600;}
.fw700{font-weight: 700;}
.fw300{font-weight: 300;}

.fz11{font-size: 11px;}
.fz13{font-size: 13px;}
.fz15{font-size: 15px;}


/*----------------------> Links And buttons <------------------*/

a {
  outline:none;
  text-decoration:none;
  cursor:pointer;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
a:hover{;
  text-decoration:none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.button{
  display:inline-block;
  padding:0 0 0 0;
  margin: 0 0 0 0;
  font-size: px;
  line-height: px;
  color:#;
 }
.button:hover{
  background:;
  color:#000;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_right {text-align:right}
.al_center {text-align:center}


.it{font-style:italic}
.let{letter-spacing:-1px}

/*----------------------> Indents Zero <------------------*/

.m_bot_zero{ margin-bottom:0 !important;}
.m_left_zero{ margin-left:0 !important;}
.p_bot_zero{ padding-bottom:0 !important;}
.p_left_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.wrapper {overflow:hidden}
.clearfix:after{
  content:"";
  display: block;
  width: 100%;
  height: 0;
  clear:both;
}
.f_elem *:first-child{margin-top: 0 !important;}
.f_elem1 *:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_in-block{ display:inline-block;}
.d_none{display: none;}

/*----------------------> Basic Colors <------------------*/
.white_color{color: #fff;}
.grey_color{color: #888d8d;}
.blue_color{color: #435662;}
.aliceblue_color{color: #8ea3a9;}

.grey_bg{background-color: #f5f5f5;}
.aliceblue_bg{background-color: #dbebf0;}
.black_bg{background-color: #1e292b;}
/*=====================> indents ========================*/

/*bottom*/
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}
.mb35{margin-bottom: 35px;}
.mb45{margin-bottom: 45px;}
.mb65{margin-bottom: 65px;}
/*top*/

/*left*/

/*right*/

/*=====================> Lists ========================*/
.list1{}
.list1_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list1_link{}

.list2{}
.list2_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2_link{}

.list3{}
.list3_item{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3_link{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 35px;
  line-height: 35px;
}

.title2{
  font-size: 25px;
  line-height: 28px;
}
.title3{
  font-size: 55px;
  line-height: 1;
}
/*======================> Header <======================*/

header {
  background-color: #1e292b;
  padding: 25px 0 15px;
}
.logo{
  padding: 6px 0 0 34px;
}
.logo a{
  display:block;
  width:192px;
  height:52px;
  background:url(../images/logo.png) 0 0 no-repeat;
  text-decoration:none;
  text-indent:-9999px;
}

.logo1{
  padding-left: 44px;
  width: 253px;
}
.logo1 p{
  font-size: 11px;
  line-height: 1.3;
  font-weight: 300;
  color: #8f9495;
  padding-left: 12px;
}
.search_box{width: 220px;}
  .search_box label{
    display: block;
    font-size: 11px;
    color: #8f9495;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .search_box input{
    width: 100%;
    background: none;
    outline: none;
    border: 1px solid #485052;
    font-size: 13px;
    line-height: 17px;
    font-weight: 300;
    color: #fff;
    padding: 8px 25px 8px 13px;
  }
  .search_btn{
    border: none;
    outline: none;
    background: none;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 5px;
    text-align: center;
    color: #626a6b;
    cursor: pointer;
  }
  .search_btn:hover{color: #fff;}
  .search_btn i{line-height: 25px;}

  .header_contact{
    padding-left: 34px;
  }
    .header_contact_tel{
      font-size: 23px;
      line-height: 1;
      color: #fff;
      font-weight: 600;
      margin-bottom: 10px;
    }
      .header_contact_tel i{color: #626a6b;padding-top: 3px;}
    .header_contact_address{
      font-size: 13px;
      line-height: 16px;
      color: #fff;
      font-weight: 300;
    }
    .header_contact_link{
      font-size: 11px;
      line-height: 16px;
      color: #fff;
      font-weight: 300;
    }
    .header_contact_link:hover{text-decoration: underline;}

/*=====================> Nav ========================*/
nav{/*height: 77px;*/}
.main_menu{
  z-index: 9;
  background-color: #1d2729;
  text-transform: uppercase;
  position: relative;
  padding: 0 24px;
}
.main_menu.fixed_nav{
  position: fixed;
  top: 0;
  width: 1000px;
}
  .main_menu_item{float: left;}
    .main_menu_link{
      position: relative;
      padding: 10px 15px;
      border-radius: 3px 3px 0 0;
      border: 1px solid transparent;
      border-bottom: none;
      display: block;
      font-size: 13px;
      line-height: 1;
      color: #fff;
    }
    .main_menu_link:hover{color: #d12619;}
    .main_menu_item.current .main_menu_link{
      background-color: #d12619;
      border-color: #ad271d;
    }
    .main_menu_item.current{margin-bottom: 43px;}
    .main_menu_item.current .main_menu_link:before{
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -1px;
      background-color: #d12619;
      left: 0;
      z-index: 1;
    }
    .main_menu_item.current .main_menu_link:hover{color: #fff;}

    .sub_main_menu{
      display: none;
      right: 0;
      left: 0;
      top: 34px;
      background-color: #d12619;
      border-top: 1px solid #ad271d;
      padding: 14px 34px;
    }
    .main_menu_item.current .sub_main_menu{display: block;}
      .sub_main_menu_item{
        float: left;
        padding-left: 15px;
      }
      .sub_main_menu_item:first-child{padding-left: 0;}
        .sub_main_menu_link{
          display: block;
          font-size: 11px;
          line-height: 14px;
          color: #fff;
        }
        .sub_main_menu_link:hover,
        .sub_main_menu_item.current .sub_main_menu_link{
          color: #a10b00;
        }
/*=====================> Content ========================*/
#content {/*padding:35px 0px 40px;*//* min-height: 1500px;*/}
  .product_box{padding: 30px 0 60px;}
    .product_gallery_img{
      width: 430px;
      margin-right: 14px;
      min-height: 360px;  
    }
      .product_gallery_img img{width: 100%;}

    .product_tumbs_item{
      width: 133px;
      border: 1px solid #d5d5d5;
      margin-bottom: 14px;
      cursor: pointer;
      overflow: hidden;
    }
    .product_tumbs_item.active{border: 3px solid #d12619;}
      .product_tumbs_item img{width: 100%;height: 89px;}

    [class^='product_tumbs_btn_']{
      background: none;
      outline: none;
      border: none;
      font-size: 20px;
      color: #8ea3a9;
      cursor: pointer;
      display: block;
      text-align: center;
      margin: 0 auto 10px;
    }
    .product_tumbs_btn_next{margin-bottom: 0;}
    [class^='product_tumbs_btn_']:hover{color: #000;}
  .product_description{
    padding: 25px 35px 33px;
    width: 322px;
  }
    .product_price{
      font-size: 30px;
      line-height: 1;
    }
    .checkout_btn{
      display: block;
      width: 100%;
      background: none;
      outline: none;
      font-size: 19px;
      line-height: 1;
      padding: 14px 0;
      text-align: center;
      color: #191919;
      border: 1px solid #191919;
      border-radius: 3px;
    }
    .checkout_btn:hover{
      color: #fff;
      background-color: #191919;
    }


/*tabs*/
.product_characteristics{
  padding: 35px 45px 45px;
}
  .product_characteristics .tabs_list_item{
    margin-left: 45px;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
    cursor: pointer;
  }
  .product_characteristics .tabs_list_item:first-child{margin-left: 0;}
  .product_characteristics .tabs_list_item.active,
  .product_characteristics .tabs_list_item:hover{
    border-bottom: 3px solid #d12619;
  }

  .tabs_item{display: none;}
  .tabs_item.active{display: block;}

  .list_characteristics_item{
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
    border-top: 1px solid #e0e0e0;
  }
  .list_characteristics_item:first-child{border: none;}

  .question_box{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background-color: #d12619;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 19px;
    font-weight: 700;
    margin-left: 16px;
    margin-top: 2px;
  }
  .question_box:before{
    content: "?"
  }
  .question_text{
    display: none;
    bottom: 25px;
    left: 50%;
    margin-left: -100px;
    background-color: #fff;
    width: 200px;
    padding: 15px;
    color: #191919;
    font-weight: 400;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  .question_box:hover .question_text{display: block;}


  /*other products*/
  .other_products_box{margin: 0 -11px;}
    .other_products_item{
      width: 296px;
      height: 312px;
      margin: 0 11px 20px;
      border: 1px solid #efefef;
      border-radius: 3px;
    }
    .other_products_item:hover{
      -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3);
      box-shadow:0 0 8px rgba(0,0,0,0.3);
    }
      .other_products_price{
        bottom: 20px;
        right: 13px;
        display: block;
        background-color: #d2261a;
        border-radius: 3px;
        font-size: 17px;
        line-height: 26px;
        padding: 0 7px;
        letter-spacing: -1px;
      }
      .other_products_title{
        bottom: 20px;
        left: 15px;
        width: 175px;
        text-align: left;
      }
      .other_products_link{
        display: block;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
      }

  .title_box{padding: 95px 0 107px;}

  /*main slider*/
    .owl_item_img{
      height: 100%;
      right: 0;
      top: 0;
      width: auto;
    }
    .owl_item_content{
      width: 480px;
      height: 362px;
      padding: 45px 0 80px 40px;
    }
    .owl_item_content:before{
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -140px;
      width: 0;
      height: 0;
      border-top: 181px solid #f5f5f5;
      border-bottom: 181px solid transparent;
      border-left: 70px solid #f5f5f5;
      border-right: 70px solid transparent;
    }
      .owl_item_text{
        font-size: 15px;
        line-height: 25px;
        padding-right: 40px;
      }
      .owl_item_link:hover{color: #d12619;}
      .owl-pagination{
        position: absolute;
        bottom: 25px;
        left: 40px;
      }
        .owl-pagination>div{
          width: 13px;
          height: 13px;
          border: 1px solid #626a6b;
          float: left;
          margin-right: 12px;
        }
        .owl-pagination>div.active{border-color: #d22919;}

/*our services*/
.our_services_item{
  width: 50%;
  float: left;
  padding-left: 65px;
  padding-right: 50px;
}
.our_services_icon{
  width: 50px;
  height: 24px;
  display: block;
  top: 6px;
  left: 0;
}
.car_icon{background: url(../images/car_icon.jpg) 0 0 no-repeat;}
/*================================>> Footer <<========================================*/
.box_modal{
  width: 733px;
  padding: 45px 50px 42px;
  background-color: #fff;
}
  .ordering_form_box{
    padding: 20px 0 20px 37px;
  }
    .ordering_label{
      width: 210px;
      font-size: 18px;
      line-height: 49px;
    }
    input[type=text].ordering_inp{
      width: 252px;
      background: none;
      outline: none;
      border: 1px solid #7797a1;
      border-radius: 3px;
      font-size: 16px;
      line-height: 19px;
      padding: 15px 10px;
    }
    .ordering_marker{
      font-size: 18px;
      line-height: 49px;
      color: #d12619;
      font-weight: 600;
    }
    .ordering_btn{
      width: 252px;
      margin: 0 auto;
    }

/*================================>> Footer <<========================================*/
footer{
  background-color: #1e292b;
  text-align: center;
  padding: 21px 0;
}
  footer p{
    color: #4e595b;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
  }